@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;700&display=swap');
:root{
    --org-color: #f9ab00;
    --drk-clr: #1a191f;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
}
::selection{
    background: var(--org-color);
}
body{
    height: 100vh;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--drk-clr);
    .toggle-icon{
        display: none;
        i{
            line-height: 70px;
            font-size: 30px;
            color: #fff;
            margin-left: 25px;
        }
    }
    #logo-section{
        font-size: 30px;
        line-height: 70px;
        color: #fff;
        span{
            color: var(--org-color);
        }
    }
.dff-nav{
    display: flex;
    ul{
        display: flex;
        line-height: 70px;
        list-style: none;
            li{
                padding: 0 25px;
                z-index: 1;
                    .dropdown-content {
                        z-index: 2;
                        display: none;
                        position: absolute;
                        background-color: #000000;
                        min-width: 160px;
                        z-index: 1;
                    }
                    
                    .dropdown-content  {
                       ul{
                            display: flex;
                            flex-direction: column;
                            list-style: none;
                            color: #fff;
                            li{
                                transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
                            }
                            li:hover{
                                background-color: #ffffff;
                                color: #1a191f;
                            }    
                       }
                    }
                    
                
                }
                a{
                    transition: 0.3s;
                    display: block;
                    text-decoration: none;
                    color: #fff;
                    text-transform: uppercase;
                }
                a:hover{
                    color: var(--org-color);
                }
            }
            
    }
    #othr-info{
        line-height: 70px;
        input{
            padding: 10px;
            font-size: 17px;
            width: 200px;
            color: #fff;
            text-transform: capitalize;
            background-color: #63616d50;
            border: 0;
            backdrop-filter: blur(10px);
            outline: none;
        }
        ::placeholder{
            color: #ffffff9f;
        }
        input:focus
        {
            border: 1px solid #f9ab00;
            border-radius: 3px;
        }
        select{
            padding: 10px;
            font-size: 17px;
            text-transform: uppercase;
            background-color: #63616d50;
            backdrop-filter: blur(10px);
            border: none;
            color: #fff;
            margin-right: 25px;
    }
   
}   


    #btn{
        line-height: 70px;
        color: #fff;
        padding: 10px 25px;
        text-decoration: none;
        border-radius: 5px;
        border: 1px solid var(--org-color);
    }
}

.nav-ver{
    z-index: 2;
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #1a191f31;
    backdrop-filter: 15px;
    ul#links{
        position: absolute;
        right: 0;    
        width: 25%;
        height: 100%;
        list-style: none;
        background-color: #1a191fb4;
        backdrop-filter: 15px;
           li{
               padding: 25px;
               font-size: 17px;

                
            a{
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
            }
            .dropdown-content{
                display: none;
                z-index: 3;
                background-color: #16151aec;
                border-radius: 5px;
                padding: 15px;
                color: #fff;
                ul{
                    list-style: none;
                    li{
                        padding: 10px 15px;
                    }
                    li:hover{
                        background-color: #ffffff9f;
                        border: 1px solid #fff;
                    }
                }
            }
        }
        li:hover{
            background-color: #ffffff62;
            border: 1px solid #fff;
        }
    }
}
@media screen and (max-width: 1180px) {
    nav{
        .toggle-icon{
            display: block;
        }
        .bx-search{
            color: #fff;
            line-height: 70px;
            font-size: 25px;
            padding: 0 25px;
        }
        input{
            display: none;
        }
        #links{
            display: none;
        }
    }
}

.open{
    transition: 0.6s all cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translateX(100%);   
}
