@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;700&display=swap");
:root {
  --org-color: #f9ab00;
  --drk-clr: #1a191f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
}

::-moz-selection {
  background: var(--org-color);
}

::selection {
  background: var(--org-color);
}

body {
  height: 100vh;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: var(--drk-clr);
}
nav .toggle-icon {
  display: none;
}
nav .toggle-icon i {
  line-height: 70px;
  font-size: 30px;
  color: #fff;
  margin-left: 25px;
}
nav #logo-section {
  font-size: 30px;
  line-height: 70px;
  color: #fff;
}
nav #logo-section span {
  color: var(--org-color);
}
nav .dff-nav {
  display: flex;
}
nav .dff-nav ul {
  display: flex;
  line-height: 70px;
  list-style: none;
}
nav .dff-nav ul li {
  padding: 0 25px;
  z-index: 1;
}
nav .dff-nav ul li .dropdown-content {
  z-index: 2;
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  z-index: 1;
}
nav .dff-nav ul li .dropdown-content ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: #fff;
}
nav .dff-nav ul li .dropdown-content ul li {
  transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
nav .dff-nav ul li .dropdown-content ul li:hover {
  background-color: #ffffff;
  color: #1a191f;
}
nav .dff-nav ul a {
  transition: 0.3s;
  display: block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
nav .dff-nav ul a:hover {
  color: var(--org-color);
}
nav #othr-info {
  line-height: 70px;
}
nav #othr-info input {
  padding: 10px;
  font-size: 17px;
  width: 200px;
  color: #fff;
  text-transform: capitalize;
  background-color: rgba(99, 97, 109, 0.3137254902);
  border: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  outline: none;
}
nav #othr-info ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6235294118);
}
nav #othr-info ::placeholder {
  color: rgba(255, 255, 255, 0.6235294118);
}
nav #othr-info input:focus {
  border: 1px solid #f9ab00;
  border-radius: 3px;
}
nav #othr-info select {
  padding: 10px;
  font-size: 17px;
  text-transform: uppercase;
  background-color: rgba(99, 97, 109, 0.3137254902);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: none;
  color: #fff;
  margin-right: 25px;
}
nav #btn {
  line-height: 70px;
  color: #fff;
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid var(--org-color);
}

.nav-ver {
  z-index: 2;
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 25, 31, 0.1921568627);
  -webkit-backdrop-filter: 15px;
          backdrop-filter: 15px;
}
.nav-ver ul#links {
  position: absolute;
  right: 0;
  width: 25%;
  height: 100%;
  list-style: none;
  background-color: rgba(26, 25, 31, 0.7058823529);
  -webkit-backdrop-filter: 15px;
          backdrop-filter: 15px;
}
.nav-ver ul#links li {
  padding: 25px;
  font-size: 17px;
}
.nav-ver ul#links li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-ver ul#links li .dropdown-content {
  display: none;
  z-index: 3;
  background-color: rgba(22, 21, 26, 0.9254901961);
  border-radius: 5px;
  padding: 15px;
  color: #fff;
}
.nav-ver ul#links li .dropdown-content ul {
  list-style: none;
}
.nav-ver ul#links li .dropdown-content ul li {
  padding: 10px 15px;
}
.nav-ver ul#links li .dropdown-content ul li:hover {
  background-color: rgba(255, 255, 255, 0.6235294118);
  border: 1px solid #fff;
}
.nav-ver ul#links li:hover {
  background-color: rgba(255, 255, 255, 0.3843137255);
  border: 1px solid #fff;
}

@media screen and (max-width: 1180px) {
  nav .toggle-icon {
    display: block;
  }
  nav .bx-search {
    color: #fff;
    line-height: 70px;
    font-size: 25px;
    padding: 0 25px;
  }
  nav input {
    display: none;
  }
  nav #links {
    display: none;
  }
}
.open {
  transition: 0.6s all cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translateX(100%);
}/*# sourceMappingURL=styles.css.map */